<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <link rel="stylesheet" href="/bower_components/bulma/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="red white-text">
      div with color class
    </div>
    <div class="red lighten-5 black-text">
      div with color class
    </div>
    <div class="red lighten-3 black-text">
      div with color class
    </div>
    {{{body}}}
  </div>

    <footer></footer>
<script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
{{!-- <script src="/bower_components/materialize/dist/js/materialize.min.js" charset="utf-8"></script> --}}
<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
