<div class="ui center aligned container segment">
  <h2 class="ui header">Submit New Game</h2>
  <hr>
  <form class="ui form" action="/admin/add/game" method="post">
    <div class="field">
      <label>Game Title</label>
      <input type="text" name="title" value="" placeholder="Game title">
    </div>
    <div class="author">
      <label>Author</label>
      <input type="text" name="author" value="" placeholder="Author">
    </div>
    <div class="field">
      <label>Text</label>
      <textarea name="body" class="editable" rows="8"></textarea>
    </div>
    <input class="ui button" type="submit" name="" value="submit">
  </form>

</div>
