<div>
  <form action="/admin/login" method="post">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" value="">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" value="">
    </div>
    <hr>
    <input type="submit" name="" value="submit">
  </form>
</div>
